## RUST IGNORE
Cargo.lock
target
test/out
*.bak
*.old
*~
*.org
.idea
*.S
*.s
a.out
**/.DS_Store
./vscode/**

## CPP IGNORE
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## CMAKE IGNORE
build
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

## ANTLR IGNORE
generate/**
!generate/*.g4
*.tokens
*.interp

a.out
pk
run.sh
testcases
out